@model EnigmaContest.Models.CipherMessage
@using EnigmaContest.Code
@{
    ViewBag.Title = "Play game";
}
<style>
    .mxbox {
        display: block;
        border: solid 2px black;
        margin-left: 15px;
        margin-right: 15px;
    }

    textarea {
        width: 100%;
        box-sizing: border-box;
    }

    .txtwrapper {
        border: 1px solid #999999;
        margin: 5px 0;
        padding: 3px;
    }

    .panel {
        box-shadow: none !important;
    }

    .nested {
        width: 90%;
        box-sizing: border-box;
    }

    .encoded {
        white-space: pre-wrap;
    }
</style>
@Scripts.Render("~/bundles/jquery")


<div class="panel">
    <div style="display: block;" id="rulesformitem" class="formitem">
        <div>
            <h2>Hello, agent <b>@ViewBag.User</b></h2>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
                You have intercepted an encoded message, try decoding it: <span class="badge pull-right">P @Model.Score</span> <span class="badge pull-right ">C @Model.Complexity</span> <span class="badge pull-right ">L @Model.Level</span>
            </div>
            <div class="panel-body encoded" >@Model.EncodedMessage</div>
        </div>
    </div>
    <div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <button type="button" class="btn btn-warning btn-xs spoiler-trigger" data-toggle="collapse">Show hints</button>
            </div>
            <div class="panel-collapse collapse out">
                <div class="panel-body">
                    @foreach (var h in Model.Hints)
                    {
                        <p>@h</p>
                    }
                </div>
            </div>
        </div>
        @if (MvcHelpers.IsAdmin())
        {
            <div class="panel panel-info" style="margin-top:0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs spoiler-trigger" data-toggle="collapse">Show debug</button>
                </div>
                <div class="panel-collapse collapse out">
                    <div class="panel-body">
                        @foreach (var h in Model.EncodingParams)
                        {
                            <p>@h.Item1 -- @h.Item2</p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Score)
    
    <div style="display: block;" id="rulesformitem" class="formitem">
        <label for="rules" id="ruleslabel">Deciphered message:</label>
        <button type="submit" class="btn btn-success btn-xs pull-right" id="submit" value="submit">Submit decoding</button>
        <div class="txtwrapper">
            @Html.TextAreaFor(m => m.OriginalMessage, new { @id = "rules", cols = "2", rows = "10" })
        </div>
    </div>
    @Html.HiddenFor(m => m.MessageId);

}
<script>
    $(".spoiler-trigger").click(function () {
        $(this).parent().next().collapse('toggle');
    });
</script>